      /*GLOBAL STYLES*/
:root{
  /*COLOR PALLET*/
  --accent-color: #8978A7;
  --accent-two-color: #6D8C9B;
  /*Visonary color I dont really like it but this is the color incase we use it somewhere*/
  /*--background-color: #F5E0A9;*/
  --backgroun-color: white;
  --font-color: white;
  --font-color-secondary: black;
}
      /*hero section styles*/
.hero_section{
  background-color: var(--accent-color);
  padding: 45px;
  clip-path: ellipse(94% 61% at 28% 36%);
  min-height: 50vh;
}
.logo{
  height: 13vh;
}
.hero_section h1{
  color: var(--font-color);
  text-align: center;
}
.hero_section .btn-large{
  background-color: var(--font-color);
  color: var(--accent-color);
  margin-bottom: 30px;
}
.card, .btn-large{
    border-radius: 15px;
}
h2 {
 text-align: center;
 color: var(--accent-color);
}
      /*company info styles*/
.card{
  margin-top: 45px;
  margin-bottom: 45px;
}


      /*footer styles*/
.page-footer{
  background-color: var(--accent-color);
  color: var(--font-color);
  clip-path: ellipse(94% 61% at 72% 64%);
}
.page-footer .btn-large{
  background-color: var(--font-color);
  color: var(--accent-color);
}
