/*GLOBAL STYLES*/
:root{
  /*COLOR PALLET*/
  --accent-color: #8978A7;
  --accent-two-color: #6D8C9B;
  /*Visonary color I dont really like it but this is the color incase we use it somewhere*/
  /*--background-color: #F5E0A9;*/
  --backgroun-color: white;
  --font-color: white;
  --font-color-secondary: black;
}
html{
  background-color: var(--background-color);
  font-size: 12px;
  color: var(--font-color);
}
nav{
  margin-left: 15vw;
  width: 85vw;
  padding-right: 5vw;
  border-radius: 15px 0px 0px 15px;
}
nav, .sidenav{
  background-color: var(--accent-two-color);
}
.scroll_container{
   scroll-snap-type: y mandatory;
}
.scroll_point{
  scroll-snap-align: start;
  height: 100vh;
  width: 90vw;
  background-color: var(--accent-color);
  border-radius: 0px 15px 15px 0px;
}
.scroll_point:nth-child(even){
  background-color: var(--accent-two-color);
}
/*SECTION STYLES*/
.hero_section{
}
.page-footer{
  background-color: var(--accent-two-color);
}
.footer-copyright{
  background-color: var(--accent-color);
}
